@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Noto+Sans:wght@400;500;700&display=swap');

body, html, * {
  font-family: 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
